<div class="background">
    <div class="container" [ngClass]="{'container--won': roundMetaData[currentRound-1].result==='won', 'container--lost': roundMetaData[currentRound-1].result==='lost'}">
        <div class="end-background">
            @for (round of currentMovies; track $index) {
                @for (img of round; track $index) {
                    <img src="{{img.Poster_Image}}" alt="">
                }
            }
        </div>

        <div class="start">
            <div class="title">MOVIE METER</div>
            <div class="">Find which movie has higher rating</div>
            <div class="modes">
                <div class="mode active" id="mode1" (click)="changeMode('mode1')">5 ROUNDS</div>
                <div class="mode" id="mode2" (click)="changeMode('mode2')">10 ROUNDS</div>
                <div class="mode" id="mode3" (click)="changeMode('mode3')">SURVIVAL</div>
            </div>
            <div class="start-btn"><button class="btn-clicky" (click)="onStart()">Start</button></div>
        </div>

        <div class="game">
            <div class="header">
                @if (roundMetaData[currentRound-1].over) {
                    <div class="next neon"><button class="btn-clicky" (click)="onNext()">{{currentRound>=rounds ? 'See Results' : 'Next Round'}}</button></div>
                }
                <div class="rounds">
                    @for (round of roundMetaData; track $index) {
                        <div class="round round--{{roundMetaData[currentRound-1].result}}" (click)="changeRound($index+1)" [ngClass]="{'active': currentRound===$index+1}">{{$index+1}}
                        </div>
                    }
                </div>
                <div class="score">Score: {{score}}</div>
            </div>
            <div class="body">
                @for (movie of currentMovies[this.currentRound-1]; track $index) {
                    <div class="movie" (click)="onMovieSelect($index)">
                        <div class="poster"><img src="{{movie.Poster_Image}}" alt=""></div>
                        <div class="title">{{movie.Series_Title}}</div>
                        @if (roundMetaData[currentRound-1].over) {
                            <div class="rating">{{movie.IMDB_Rating}}</div>
                        }
                    </div>
                }
            </div>
        </div>
        <div class="end">
            <div class="title">MOVIE METER</div>
            <div class="end__score">
                Score: {{score}}
            </div>
            <div class="modes">
                @for (round of roundMetaData; track $index) {
                    <div class="mode" [ngClass]="{'mode--lost': round.result==='lost'}">
                        {{$index+1}}
                    </div>
                }
            </div>
            <div class="play-again">
                <button class="btn-clicky" (click)="playAgain()">Play Again</button>
                <button class="btn-clicky" (click)="downloadAsImage()">Share</button>
            </div>
        </div>
    </div>
</div>