<div class="nav-container">
    <nav>
        <div class="logo" [routerLink]="['/home']">
            ORION
        </div>
        <div class="nav-links">
            <div class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">Home</div>
            <div class="nav-link" [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects</div>
            <div class="nav-link" [routerLink]="['/about']" routerLinkActive="router-link-active">About</div>
        </div>
    </nav>
</div>